*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

:root {
    --colour01: #EFF1F3;
    --colour02: #696773;
    --colour03: #009FB7;
    --colour04: #FED766;
    --colour05: #272727;
}

body {
    background-color: var(--colour02);
}

header {
    background-color: var(--colour03);
    padding: 20px;
    text-align: center;
}

main {
    background-color: var(--colour01);
    max-width: 700px;
    min-width: 400px;
    margin: auto;
}

div.inputData {
    padding: 20px;
}

input {
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
}